{% extends 'base.html' %}

{% block content %}

<h1>Artist Show Page</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">Name: {{ artist.name }}</span>
    <p>Location: {{ artist.location }}</p>
    <p>Bio: {{ artist.bio }}</p>
    <p>Website: {{ artist.website }}</p>
    <p>Highlights: {{ artist.highlights }}</p>
    <p>Fun Fact About Me: {{ artist.fun_fact }}</p>
    <p>Image: {{ artist.img_urls }}</p>
  </div>
</div>

<div class="card-action">
  <a href="{% url 'artist_edit' artist.id %}">Edit Artist</a>
</div>





{% endblock %}