{% extends 'base.html' %}

{% block content %}

<h1>Artist Index</h1>

<div class="row">
{% for artist in artists %}

<div class="col">
<div class="card artist-index-card" style="width: 24rem;">
  <img src="{{ artist.profile_img }}" class="card-img-top profile-img" alt="artist image">
  <div class="card-body">
    <h2 class="card-title">{{ artist.name }}</h2>
    <h5 class="card-text">{{ artist.blurb }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ artist.location }}</li>
    <li class="list-group-item">{{ artist.website }}</li>
    {% comment %} <li class="list-group-item">A third item</li> {% endcomment %}
  </ul>
  <div class="card-body">
    <a href="{% url 'artist_show' artist.id %}" class="card-link">Profile</a>
    {% comment %} <a href="#" class="card-link">Another link</a> {% endcomment %}
  </div>
</div>
</div>
  


  {% comment %} <div class="card-action">
    <a href="{% url 'artist_edit' artist.id %}">Edit Artist</a>
    <a href="{% url 'artist_delete' artist.id %}">Delete Artist</a>
  </div> {% endcomment %}

{% endfor %}

</div>

{% endblock %}