{% extends 'base.html' %}

{% block content %}

<h1>Artist Index</h1>

{% for artist in artists %}

  <a href="{% url 'artist_show' artist.id%}">

    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ artist.name }}</span>
        <p>Location: {{ artist.location }}</p>
        <p>Bio: {{ artist.bio }}</p>
        <p>Website: {{ artist.website }}</p>
        <p>Highlights: {{ artist.highlights }}</p>
        <p>Fun Fact About Me: {{ artist.fun_fact }}</p>
        <p>Image: {{ artist.img_urls }}</p>
      </div>
    </div>

  </a>

{% endfor %}

{% endblock %}