{% extends 'base.html' %}

{% block content %}

{% comment %} <h1>Profile</h1> {% endcomment %}

{% comment %} <div class="card">
  <div class="card-content">
    <span class="card-title">Name: {{ profile.name }}</span>
    <p>Location: {{ profile.location }}</p>
    <p>Bio: {{ profile.bio }}</p>
    <p>Website: {{ profile.website }}</p>
    <p>Highlights: {{ profile.highlights }}</p>
    <p>Fun Fact About Me: {{ profile.fun_fact }}</p>
    <p>Image: {{ profile.img_urls }}</p>
  </div>
</div> {% endcomment %}


<h1 class="text-end">{{ profile.name }}</h1>
<div class="card">
  <div class="container">
    
    <p>Location: {{ profile.location }}</p>
    <p>Bio: {{ profile.bio }}</p>
    <p>Website: {{ profile.website }}</p>
    <p>Highlights: {{ profile.highlights }}</p>
    <p>Fun Fact About Me: {{ profile.fun_fact }}</p>
    <p>Image: {{ profile.img_urls }}</p>
  </div>
</div>

<div class="row">

  <div class="col-6 bg-primary p-5">
    <h5>Location</h5>
    <h5>Blurb</h5>
    <h5>Website</h5>
    <h6>Follow</h6>
    <h6>Message</h6>
  </div>

  <div class="col-6 bg-info p-5">
    <h2>Profile Image</h2>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-12 bg-dark p-5">
     
    </div>
  </div>
</div>













{% if is_gallery %}
<h1>this is gallery</h1>
<div class="card-action">
  <a href="{% url 'gallery_edit' profile.id %}">Edit Profile</a>
  <a href="{% url 'gallery_delete' profile.id %}">Delete Profile</a>
</div> 
{% else  %}
<h1>this is artist</h1>


<div class="card-action">
  <a href="{% url 'artist_edit' profile.id %}">Edit Profile</a>
  <a href="{% url 'artist_delete' profile.id %}">Delete Profile</a>
</div> 
{% endif %}







{% endblock %}