{% extends 'base.html' %}

{% block content %}

<h1>Profile</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">Name: {{ profile.name }}</span>
    <p>Location: {{ profile.location }}</p>
    <p>Bio: {{ profile.bio }}</p>
    <p>Website: {{ profile.website }}</p>
    <p>Highlights: {{ profile.highlights }}</p>
    <p>Fun Fact About Me: {{ profile.fun_fact }}</p>
    <p>Image: {{ profile.img_urls }}</p>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>


{% if is_gallery %}
<h1>this is gallery</h1>
<div class="card-action">
  <a href="{% url 'gallery_edit' profile.id %}">Edit Profile</a>
  <a href="{% url 'gallery_delete' profile.id %}">Delete Profile</a>
</div> 
{% else  %}
<h1>this is artist</h1>


<div class="card-action">
  <a href="{% url 'artist_edit' profile.id %}">Edit Profile</a>
  <a href="{% url 'artist_delete' profile.id %}">Delete Profile</a>
</div> 
{% endif %}







{% endblock %}