html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.responsive-img {
  width: 100px;
  height: auto;
}


.profile-img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.artist-index-card {
  margin-bottom: 30px;
  overflow: hidden;
}

.gallery-index-card {
  margin-bottom: 30px;
  overflow: hidden;
}