{% extends 'base.html' %}

{% block content %}

<h1>Gallery Index</h1>

{% for gallery in galleries %}

<a href="{% url 'gallery_show' gallery.id %}">

  <div class="card">
    <div class="card-content">
      <span class"card-title">{{ gallery.name }}</span>
      <p>Location: {{ gallery.location }}</p>
      <p>Bio: {{ gallery.bio }}</p>
      <p>Website: {{ gallery.website }}</p>
      <p>Highlights: {{ gallery.highlights }}</p>
      <p>Fun Fact About Us: {{ gallery.fun_fact }}</p>
      <p>Image: {{ gallery.img_urls }}</p>
    </div>
  </div>

</a>

{% endfor %}

{% endblock %}