{% extends 'base.html' %}

{% block content %}

<h1>Gallery Index</h1>

{% for gallery in galleries %}


<div class="card" style="width: 18rem;">
  <img src="{{ gallery.profile_img }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">{{ gallery.name }}</h2>
    <h5 class="card-text">{{ artist.blurb }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ gallery.location }}</li>
    <li class="list-group-item">{{ gallery.website }}</li>
    {% comment %} <li class="list-group-item">A third item</li> {% endcomment %}
  </ul>
  <div class="card-body">
    <a href="{% url 'gallery_show' gallery.id %}" class="card-link">Profile</a>
    {% comment %} <a href="#" class="card-link">Another link</a> {% endcomment %}
  </div>
</div>


{% endfor %}

{% endblock %}